In [1]:
import pandas as pd

In [2]:
data=pd.read_csv(r"C:\Users\Tejaswini Mori\Downloads\ML Project - Logistic Regression Titanic Survival U16955478860 (2).csv")

In [3]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [5]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [6]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
data.drop(data[data["Embarked"].isnull()].index,inplace=True)

In [8]:
data["Age"].mean()

29.64209269662921

In [9]:
data["Age"]=data["Age"].fillna(30)

In [10]:
data["Age"].isnull().sum()

0

In [11]:
data.drop("Ticket",axis=1,inplace=True)

In [12]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,30.0,1,2,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,7.7500,NaN,Q

In [13]:
from sklearn.preprocessing import LabelEncoder

In [14]:
enc=LabelEncoder()

In [15]:
data[["Sex","Embarked"]]=data[["Sex","Embarked"]].apply(enc.fit_transform)

In [16]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,7.2500,NaN,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,71.2833,C85,0
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,7.9250,NaN,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,53.1000,C123,2
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,8.0500,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",1,27.0,0,0,13.0000,NaN,2
887,888,1,1,"Graham, Miss. Margaret Edith",0,19.0,0,0,30.0000,B42,2
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,30.0,1,2,23.4500,NaN,2
889,890,1,1,"Behr, Mr. Karl Howell",1,26.0,0,0,30.0000,C148,0
890,891,0,3,"Dooley, Mr. Patrick",1,32.0,0,0,7.7500,NaN,1

In [25]:
data.drop(["Name","Cabin"],axis=1,inplace=True)

In [26]:
x=data.drop("Survived",axis=1)

In [27]:
y=data["Survived"]

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8,random_state=0)

In [30]:
from sklearn.linear_model import LogisticRegression

In [39]:
model=LogisticRegression()

In [40]:
model.fit(x_train,y_train)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [33]:
from sklearn.metrics import accuracy_score,confusion_matrix,precision_score,recall_score,f1_score,classification_report

In [34]:
confusion_matrix(y_test,model.predict(x_test))

array([[85, 20],
       [31, 42]], dtype=int64)

In [80]:
print(classification_report(y_test,model.predict(x_test)))

              precision    recall  f1-score   support

           0       0.73      0.81      0.77       105
           1       0.68      0.58      0.62        73

    accuracy                           0.71       178
   macro avg       0.71      0.69      0.70       178
weighted avg       0.71      0.71      0.71       178

In [81]:
print(accuracy_score(y_test,model.predict(x_test)))
print(precision_score(y_test,model.predict(x_test)))
print(recall_score(y_test,model.predict(x_test)))
print(f1_score(y_test,model.predict(x_test)))

0.7134831460674157
0.6774193548387096
0.5753424657534246
0.6222222222222222

In [46]:
model.predict_proba(x_test)

array([[0.3591145 , 0.6408855 ],
       [0.95533474, 0.04466526],
       [0.11327947, 0.88672053],
       [0.63854417, 0.36145583],
       [0.40161205, 0.59838795],
       [0.81283105, 0.18716895],
       [0.82719984, 0.17280016],
       [0.78472725, 0.21527275],
       [0.30633712, 0.69366288],
       [0.81801564, 0.18198436],
       [0.51142685, 0.48857315],
       [0.05977608, 0.94022392],
       [0.28024725, 0.71975275],
       [0.87616075, 0.12383925],
       [0.28688596, 0.71311404],
       [0.87661588, 0.12338412],
       [0.38851842, 0.61148158],
       [0.57857866, 0.42142134],
       [0.7405976 , 0.2594024 ],
       [0.15709405, 0.84290595],
       [0.58804846, 0.41195154],
       [0.08867794, 0.91132206],
       [0.7906514 , 0.2093486 ],
       [0.81196472, 0.18803528],
       [0.8693655 , 0.1306345 ],
       [0.88339521, 0.11660479],
       [0.39755804, 0.60244196],
       [0.82331312, 0.17668688],
       [0.79871954, 0.20128046],
       [0.82611489, 0.17388511],
       [0.89167834, 0.10832166],
       [0.77257769, 0.22742231],
       [0.80498361, 0.19501639],
       [0.19818765, 0.80181235],
       [0.43258947, 0.56741053],
       [0.8587102 , 0.1412898 ],
       [0.8747149 , 0.1252851 ],
       [0.88444443, 0.11555557],
       [0.87332427, 0.12667573],
       [0.86698648, 0.13301352],
       [0.08058533, 0.91941467],
       [0.89328433, 0.10671567],
       [0.24099953, 0.75900047],
       [0.82711541, 0.17288459],
       [0.17214566, 0.82785434],
       [0.82634805, 0.17365195],
       [0.88351344, 0.11648656],
       [0.91882203, 0.08117797],
       [0.93240427, 0.06759573],
       [0.89502036, 0.10497964],
       [0.30313738, 0.69686262],
       [0.78740322, 0.21259678],
       [0.86258891, 0.13741109],
       [0.33642129, 0.66357871],
       [0.72314584, 0.27685416],
       [0.33552529, 0.66447471],
       [0.31566812, 0.68433188],
       [0.18299292, 0.81700708],
       [0.82388433, 0.17611567],
       [0.83799068, 0.16200932],
       [0.55192893, 0.44807107],
       [0.83178182, 0.16821818],
       [0.43866448, 0.56133552],
       [0.8505019 , 0.1494981 ],
       [0.88135165, 0.11864835],
       [0.8132781 , 0.1867219 ],
       [0.24916336, 0.75083664],
       [0.22628053, 0.77371947],
       [0.86042193, 0.13957807],
       [0.24386539, 0.75613461],
       [0.6986685 , 0.3013315 ],
       [0.83344316, 0.16655684],
       [0.83592937, 0.16407063],
       [0.37996763, 0.62003237],
       [0.31323761, 0.68676239],
       [0.83752   , 0.16248   ],
       [0.89639952, 0.10360048],
       [0.83388872, 0.16611128],
       [0.25734114, 0.74265886],
       [0.83864747, 0.16135253],
       [0.86883637, 0.13116363],
       [0.12487108, 0.87512892],
       [0.35643765, 0.64356235],
       [0.08605381, 0.91394619],
       [0.27374402, 0.72625598],
       [0.75506017, 0.24493983],
       [0.87917675, 0.12082325],
       [0.90149258, 0.09850742],
       [0.8404023 , 0.1595977 ],
       [0.87165338, 0.12834662],
       [0.8297265 , 0.1702735 ],
       [0.30714559, 0.69285441],
       [0.34851134, 0.65148866],
       [0.85106818, 0.14893182],
       [0.72231653, 0.27768347],
       [0.33998767, 0.66001233],
       [0.12442945, 0.87557055],
       [0.26858987, 0.73141013],
       [0.78707318, 0.21292682],
       [0.18938339, 0.81061661],
       [0.85323206, 0.14676794],
       [0.16319726, 0.83680274],
       [0.88410163, 0.11589837],
       [0.13413775, 0.86586225],
       [0.95387884, 0.04612116],
       [0.28193054, 0.71806946],
       [0.89800138, 0.10199862],
       [0.87942696, 0.12057304],
       [0.81664323, 0.18335677],
       [0.08257484, 0.91742516],
       [0.01467418, 0.98532582],
       [0.29860096, 0.70139904],
       [0.80263186, 0.19736814],
       [0.36780188, 0.63219812],
       [0.93484545, 0.06515455],
       [0.76119619, 0.23880381],
       [0.841146  , 0.158854  ],
       [0.74805734, 0.25194266],
       [0.90214358, 0.09785642],
       [0.83746665, 0.16253335],
       [0.677655  , 0.322345  ],
       [0.9297766 , 0.0702234 ],
       [0.8938184 , 0.1061816 ],
       [0.84495268, 0.15504732],
       [0.87735953, 0.12264047],
       [0.82451612, 0.17548388],
       [0.81601248, 0.18398752],
       [0.83084614, 0.16915386],
       [0.89641276, 0.10358724],
       [0.82375826, 0.17624174],
       [0.84192829, 0.15807171],
       [0.90639198, 0.09360802],
       [0.29520859, 0.70479141],
       [0.78070243, 0.21929757],
       [0.89754406, 0.10245594],
       [0.57504889, 0.42495111],
       [0.45567307, 0.54432693],
       [0.27635459, 0.72364541],
       [0.11344213, 0.88655787],
       [0.9145357 , 0.0854643 ],
       [0.89881986, 0.10118014],
       [0.85177661, 0.14822339],
       [0.21275512, 0.78724488],
       [0.71675923, 0.28324077],
       [0.36032586, 0.63967414],
       [0.82287049, 0.17712951],
       [0.39509231, 0.60490769],
       [0.2890926 , 0.7109074 ],
       [0.87170349, 0.12829651],
       [0.93983826, 0.06016174],
       [0.89415286, 0.10584714],
       [0.89762234, 0.10237766],
       [0.27694998, 0.72305002],
       [0.88978861, 0.11021139],
       [0.89542472, 0.10457528],
       [0.8922423 , 0.1077577 ],
       [0.3926308 , 0.6073692 ],
       [0.07018409, 0.92981591],
       [0.35075464, 0.64924536],
       [0.85569805, 0.14430195],
       [0.87055967, 0.12944033],
       [0.94487779, 0.05512221],
       [0.32273557, 0.67726443],
       [0.90447402, 0.09552598],
       [0.86883691, 0.13116309],
       [0.35715356, 0.64284644],
       [0.88746496, 0.11253504],
       [0.08600759, 0.91399241],
       [0.75483707, 0.24516293],
       [0.17600901, 0.82399099],
       [0.85721009, 0.14278991],
       [0.70542934, 0.29457066],
       [0.8926532 , 0.1073468 ],
       [0.7904828 , 0.2095172 ],
       [0.82428594, 0.17571406],
       [0.94265685, 0.05734315],
       [0.73556955, 0.26443045],
       [0.35790557, 0.64209443]])

In [ ]:
model.feature_import